body {
background: black;
color:cyan;
}
footer:has(> div[role="contentinfo"] > p > label > input) {
top: 100%;
position: absolute;
z-index:9;
}
footer:has(> div[role="contentinfo"] > p > label > input:checked) {
top:125%;
}
#navButton:checked + (nav, div[role="navigator"]) {
content:show;
position:absolute;
z-index: 9;
}
label > .underline {
text-decoration:underline;
}
 nav > div > a {
display: block;
}
@media (scripting: enabled) + body > div:hidden {
content:show;
}